/* css */
.login-wrapper {
  width: 100%;
  height: 615px;
  position: absolute;
  top: 50%;
  margin-top: -307px;
  background: url("~@assets/imgs/login-bg.jpg");
  background-size: 100% 100%;
}

@media screen and (max-width:1400px) {
  .login-wrapper {
    height: 500px;
    margin-top: -250px;
  }
}

.wx-logo {
  width: 290px;
  height: 80px;
  position: absolute;
  top: -80px;
  left: 100px;
  background: url("~@assets/imgs/login-logo.jpg") center no-repeat;
}

.login-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.welcome-img {
  width: 960px;
  height: 100%;
  background: url("~@assets/imgs/welcome-img.png") center center no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

.sys-maggen-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -154px;
  margin-top: -172px;
  z-index: 3;
  width: 308px;
  height: 344px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C8ffffff",endColorstr="#C8ffffff");*/
  -webkit-box-shadow: 5px 5px 8px #26a0d9, -5px -5px 8px #26a0d9;
  -moz-box-shadow: 5px 5px 8px #26a0d9, -5px -5px 8px #26a0d9;
  box-shadow: 5px 5px 8px #26a0d9, -5px -5px 8px #26a0d9;
}

.copy-right {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -40px;
  color: #666;
  font-size: 12px;
}